.video-container {
  position: relative;
  width: 100%;
  height: 50vh;
}
.background-video {
  width: 100%;
  height: 100%;
  object-fit: fill;
  opacity: 1;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* A black overlay with 0.5 transparency */
  z-index: 1;
}
.card-container {
  position: absolute;
  top: 45%;
  width: 100%;
  height: 50%; /* Cards area within the background video */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 2;
}
.card {
  background-color: rgba(250, 241, 241, 0.5);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 300px;
  opacity: 0;
  transform: scale(0.8);
  animation-duration: 1s;
  animation-fill-mode: both;
  position: absolute;
  margin: 10px 0; /* Ensure cards have spacing */
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.8);
  }
}
.card.show {
  display: block;
  animation-name: fadeIn;
}
.card.hide {
  display: block;
  animation-name: fadeOut;
}
.card h1 {
  font-size: 1.5em;
  margin-bottom: 0.5em;
}
.card p {
  font-size: 1em;
  margin-bottom: 1em;
}
.cta-button {
  font-size: 1em;
  padding: 0.75em 1.5em;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border-radius: 0.25em;
  text-decoration: none;
  transition: background-color 0.3s;
}
.cta-button:hover {
  background-color: #0056b3;
}
